/* Main colour scheme used throughout page*/
:root{
    --darkGrey: rgb(41, 40, 53);
    --lightBlue: rgb(117, 211, 255);
    --lightGrey: rgb(77, 75, 95);
}
/*Defines how content is sized on the page*/
* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: White;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--lightGrey);
    font-size: 20px;
}

#mainHeading{
    color: var(--textPink);
    display:flex;
    justify-content: flex-start;
    padding: 50px;
    font-size:32px;
}

#photo{
    background-image: url(../Images/photoplaceholder.jpg);
    background-repeat: no-repeat;
    width:100px;
    height:100px;
    border-radius: 25px;
}

.mainParagraph{
    display:flex;
    justify-content: center;
}

#workGrid{
    margin: 0 10%;
    align-content: center;
    display: grid;
    grid-template-rows: 400px 400px 400px 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "recentProject recentProject"
    "recentProject recentProject"
    "project1 project2"
    "project3 project4";
}

.workGridStyle{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border: 10px solid var(--lightBlue);
    cursor: pointer;
    display: grid;
    align-content: end;
}

.workGridHeadings{
    color:var(--darkGrey);
    font-size: 24px;
    background-color: var(--lightBlue);
    display:flex
}

#recentProject{
    grid-area: recentProject;
    background-image: url("../Images/preworkstudyguide.PNG");
}
#project1{
      grid-area: project1;
      background-image: url("../Images/placeholder-1.jpg");
}
#project2{
      grid-area: project2;
      background-image: url("../Images/placeholder-2.jpg");
}
#project3{
      grid-area: project3;
      background-image: url("../Images/placeholder-3.jpg");
}
#project4{
      grid-area: project4;
      background-image: url("../Images/placeholder-4.jpg");
}
