/* Main colour scheme used throughout page*/
:root{
    --darkGrey: rgb(41, 40, 53);
    --lightBlue: rgb(117, 211, 255);
    --lightGrey: rgb(77, 75, 95);
}
/*Defines how content is sized on the page*/
* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: White;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--lightGrey);
    font-size: 20px;
}

#mainHeading{
    color: var(--textPink);
    display:flex;
    justify-content: flex-start;
    padding: 50px;
    font-size:32px;
}

.mainParagraph{
    display:flex;
    justify-content: center;
}

#gridHeading{
    align-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "placeholder";
}
